body{
    margin: 0;
    background-color: #02025e;
    color: #f5deb3;
    font-family: Arial, sans-serif;
}

#header1{
    text-align: center;
}

.dropdown-container{
    background-color: #02025e;
    color: #f5deb3;
    font-family: Arial, sans-serif;
    margin: 1%;
}
.Select-control {
    background-color: #02025e;
    color:#f5deb3;
  }
  
.Select-menu-outer {
    background-color: #02025e;
    color: #f5deb3;
}

.Select-value-label {
    color: #f5deb3 !important;
}

button{
    background-color: #f5deb3;
    color: #00008b;
    font-family: Arial, sans-serif;
    border-radius: 5%;
}

button:hover{
    scale: 1.1;
}

.modebar-group{
    color: #f5deb3;
}

.dropdown_span{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.dropdown-container{
    background-color: black;
    left: 20vw;
}
